

.ledgerPage {
  padding: 20px;
  background-color: #0b1437;
  min-height: 100vh;
  min-width: 1000px;
  direction: rtl;
}
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(8px);
}

.loader-overlay.active {
    display: flex;
}

.loader-overlay svg {
    width: 150px !important; 
    height: auto !important;
    display: block;
    overflow: visible;
}

.headerCard {
  
  justify-content: space-between;
  align-items: center;
  background: #111c44;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  border: 1px solid #1b254b;
}
.headerright{
  flex: 3;
  display: flex;
  direction: rtl;
  color: white;
}
.headerleft {
  flex: 1;
  display: flex;
  direction: ltr;
}
.backlink {
  background: none;
  border: none;
  color: #707eae;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}
.headerActions {
  display: flex;
  gap: 12px;
  margin-right: 35px;
}



/* الجدول وتنسيق البيانات */
.tableWrapper {
  background: #111c44;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border: 1px solid #1b254b;
}

.ledgerTable {
  width: 100%;
  border-collapse: collapse;
}

.ledgerTable th {
  background: #1b254b;
  padding: 18px;
  text-align: right;
  font-size: 14px;
  color: #a3edfd;
}

.ledgerTable td {
  padding: 18px;
  border-bottom: 1px solid #1b254b;
  font-size: 15px;
  color: #ffffff;
}

/* شارات الحالة (Status Badges) */
.statusBadge {
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}

/* ألوان أنواع العمليات */
.oilType { 
  background: rgba(0, 184, 216, 0.15); 
  color: #00b8d8; 
}

.repairType { 
  background: rgba(255, 171, 0, 0.15); 
  color: #ffab00; 
}

/* تنسيق الألوان للقيم المالية */
.textDanger { 
  color: #ff5252 !important; 
}

.textSuccess { 
  color: #00e676 !important; 
}

/* تأثير عند تمرير الماوس على الصفوف */
.ledgerTable tr:hover td {
  background: rgba(255, 255, 255, 0.02);
}
